.index {
  margin: 20px 25px;
  padding: 15px 20px;
  border: 1px solid #ff3366;
  border-radius: 30px;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
h1,
h2 {
  text-align: center;
  color: #ff3366;
}
h1 {
  font-family: "Zen Loop", cursive;
  font-size: 100px;
}
h2 {
  font-family: "Zen Loop", cursive;
}
p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #ff3366;
}
